ConvenioWS/src/java/resources/ConvenioWS_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://convenio.ws.com/" xmlns:tns="http://convenio.ws.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="obtenerConvenio" type="tns:obtenerConvenio"/>

  <xs:element name="obtenerConvenioResponse" type="tns:obtenerConvenioResponse"/>

  <xs:complexType name="obtenerConvenio">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="obtenerConvenioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

