ClienteSaldo/xml-resources/web-service-references/SaldoWS/wsdl/localhost_8080/SaldoWS/SaldoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://saldo.soap.ws.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://saldo.soap.ws.com/">

<xs:element name="obtenerSaldo" type="tns:obtenerSaldo"/>

<xs:element name="obtenerSaldoResponse" type="tns:obtenerSaldoResponse"/>

<xs:complexType name="obtenerSaldo">
<xs:sequence>
<xs:element name="cliente" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerSaldoResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>